<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uk.org.platitudes.scribble" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:restoreAnyVersion="true"
        android:theme="@style/AppTheme" >

        <!-- registered with https://developer.android.com/google/backup/signup.html?csw=1 -->
        <!-- abandoned this - different things seemed to be restored to different devices
        meta-data
            android:name="com.google.android.backup.api_key"
            android:value="AEdPqrEAAAAIJ5IPboorj3D2zQBIk2iYcLF3i_rTZwIn0nYvPg" /-->
        <activity
            android:name=".ScribbleMainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
